.title,
.subtitle,
.personal { 
    font-family: Helvetica, Arial, sans-serif;
}

.personalContainer {
    padding-top: 4rem;
    border-top: 1px solid #e1e1e1;
}

.title {
    display: inline-block;
    font-size: 1.8rem;
    color: #707072;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.subtitle {
    margin: 1.2rem 0 5rem 0;
    color: #0f141e;
    font-size: 3rem;
    font-weight: bold;
}

.img {
    display: inline-block;
    margin: 5rem 0;
    width: 100%;
    max-width: 50rem;
}

@media (min-width: 900px) {
    .subtitle {
        font-size: 3rem;
    }

    .container {
        width: 80%;
        margin: 8rem auto 0 auto;
        text-align: center;
    }

    .personal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}

